/* COLOR VARIABLES */
$color-primary: #c69c6d;
$color-secondary: #424242;
$color-third: #fab915;

$color-black: #000000;
$color-black-1: #272729;
$color-black-2: #212124;
$color-black-3: #383838;
$color-black-4: #333333;
$color-black-5: #5c5c5c;
$color-black-6: #505050;
$color-black-7: #323b42;
$color-black-8: #192028;
$color-black-9: #465a65;
$color-black-10: #253137;

$color-white: #ffffff;

$color-red: #bf1e1e;
$color-red-1: #f6344c;

$color-brown: #504645;
$color-brown-1: #b67e3d;

$color-blue: #b2bccf;
$color-blue-1: #0d1631;
$color-blue-2: #566e78;
$color-blue-3: #428bca;

$color-grey: #606060;
$color-grey-1: #eaeaea;
$color-grey-2: #6b6b6b;
$color-grey-3: #eeeeee;
$color-grey-4: #dfdfdf;
$color-grey-5: #e1e1e1;
$color-grey-6: #f7f8fb;
$color-grey-7: #f0f1f4;
$color-grey-8: #9b9b9b;
$color-grey-9: #9aa0a5;
$color-grey-10: #f3f3f3;
$color-grey-11: #eceff1;
$color-grey-12: #fafafa;
$color-grey-13: #afbcc3;
$color-grey-14: #ebeef0;
$color-grey-15: #78909c;
$color-grey-16: #f2f2f2;
$color-grey-17: #f1f2f3;
$color-grey-18: #999999;

$color-green: #3d9400;
$color-green-1: #155724;
$color-green-2: #d4edda;

$color-yellow: #9c730a;
$color-yellow-1: #f4ce21;

$color-red: #721c24;
$color-red-1: #c11122;
$color-red-2: #d14836;

$font-primary: 'Poppins', sans-serif;
$font-iconset: "iconset";

$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

$icomoon-font-path: "../fonts" !default;

$iconset-telegram: "\e90a";
$iconset-google-plus: "\e909";
$iconset-search-plus: "\e907";
$iconset-search: "\e908";
$iconset-line-chart: "\e904";
$iconset-graduation-cap: "\e905";
$iconset-mortar-board: "\e905";
$iconset-bitcoin: "\e906";
$iconset-envelope: "\e900";
$iconset-twitter: "\e901";
$iconset-pinterest: "\e902";
$iconset-facebook: "\e903";
$iconset-facebook-f: "\e903";