$icomoon-font-path: "fonts" !default;

$iconset-telegram: "\e90a";
$iconset-google-plus: "\e909";
$iconset-search-plus: "\e907";
$iconset-search: "\e908";
$iconset-line-chart: "\e904";
$iconset-graduation-cap: "\e905";
$iconset-mortar-board: "\e905";
$iconset-bitcoin: "\e906";
$iconset-envelope: "\e900";
$iconset-twitter: "\e901";
$iconset-pinterest: "\e902";
$iconset-facebook: "\e903";
$iconset-facebook-f: "\e903";

