// Necessary WP classes
.wp-caption {
  font-size: inherit;
}

.wp-caption-text {
  font-size: inherit;
}

.screen-reader-text {
  font-size: inherit;
  word-wrap: normal !important;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}

.aligncenter {
  margin:0px auto;
}